<footer>
<span class='pbbranded'><strong>Thanks for using PharmBuddy cGMP</strong></span><span class='sessioninfo'>
{{#if device_name}}
You are on <em>{{device_name}}</em>
  {{#if responsible_party}}
  as <em>{{responsible_party}}</em>. Click <a href='/logout/'>here to end your session</a>.
  {{else}}
   , but who is going to take responsibility for this work?
  {{/if}}
{{else}}
This device isn't registered.
{{/if}}
</span>
</footer>
{{#if responsible_party}}
<nav id='secondary-navigation'><ul><li><a href="/lots/run/">View a Run</a></li><li><a href="/inventory/list">Inventory</a></li></ul></nav>
{{/if}}
