<footer>
{{#if registered_device}}
You are on {{registered_device}}
  {{#if responsible_party}}
  as {{responsible_party}}. Click <a href='/logout/'>here to end your session</a>.
  {{else}}
   but who is taking responsibility now?
  {{/if}}
{{else}}
This device isn't registered.
{{/if}}
</footer>
