<header>
  <img class="logo" src='/rrff_logo_fullsize.png' alt='The RavenRidge Family Farm company logo features an iconic image of three local landmark mountains in the piedmont of NC, where the company is based.' />
  {{#if responsible_party}}<nav><ul><li><a href='/production/'>Make Product</a></li><li><a href="/runs/list">View Runs</a></li></ul></nav>{{/if}}
</header>
