<header>
  <img class="logo" src='/the_zebra_head.jpg' />
  {{#if responsible_party}}<nav><ul><li><a href='/production/'>Make Product</a></li><li><a href="/runs/list">View Runs</a></li></ul></nav>{{/if}}
</header>
