<h1>Welcome to cgmp login.</h1>
<p>Login is a strange process.</p>

<form method="post" action="/login/">
  <legend>So who wants to accept responsibility today?</legend>
  <fieldset>
    <input type="button" value="Richard"></input>
    <input type="button" value="Michele"></input>
    <input type="button" value="Cynthia"></input>
    <input type="button" value="Nathan"></input>
  </fieldset>
  <input type="submit" value="Get Started" />
</form>
