
<h1>There are only two choices here, for now.</h1>

<p>Select which type of product you want to make.</p>
{{#each product_types}}
<input type='submit' onclick='javascript:window.location="/production/make_{{key}}";' value="Make {{label}}" />
{{/each}}
