<html>
  {{#>head this}}{{/head}}
  <body>
    <header>
      <img class="logo" src='/statics/rrhh_logo_header.jpg' alt='The RavenRidge Hemp and Herbals company logo features an iconic image of three local landmark mountains in the piedmont of NC, where the company is based.' />
    </header>

    <main>

    {{{body}}}

    </main>

    <footer>
     </footer>

  </body>
</html>
