<h1>You gotta belong to the business, to see this content.</h1>
<form action='/requests/login' method='post'>
  <fieldset>
    <legend>Who's taking responsibility for the work?</legend>
    <input type="radio" name="responsible_party" value="Richard" id="rp1">
    <label for="rp1">Richard</label>
    <input type="radio" name="responsible_party" value="Michele" id="rp2">
    <label for="rp2">Michele</label>
    <input type="radio" name="responsible_party" value="Cynthia" id="rp3">
    <label for="rp3">Cynthia</label>
    <input type="radio" name="responsible_party" value="Nathan" id="rp4" checked>
    <label for="rp4">Nathan</label>
  </fieldset>
  <fieldset>
    <p>Enter the keycode associated with the device you are using ( its on the desktop! ).</p>
    <input type='text' name='keycode' id='kc'>
    <label for='kc'>Keycode</label>
    <input type='submit' value="Try to get in.">
  </fieldset>
</form>
