
<h1>Welcome to our Manufacturing and Inventory Control portal.</h1>

<p>If you've arrived here in error, perhaps looking for a quality CBD product, try <a href='https://www.ravenridgefamilyfarm.com'><strong>www</strong>.ravenridgefamilyfarm.com</a>.</p>

<small>* pssst ... if you work here, and you forgot where the login page is, try <a href='/login/'>/login/</a></small>
