<h1>Confirming Your Device</h1>

<p></p>

<form action='/request/confirm/' method='post'>
  <fieldset>
    <input type="text" name="device_code" id="dc">
    <label for="dc">Device code:</label>
    <input type="hidden" name="responsible_party" value="{{name}}">
    <input type='submit' value="Good Grief, let me just get some work done!">
  </fieldset>
</form>
