<h1>Hi, from Manufacturing and Inventory Control</h1>

<p>To get started, we need to be registered on this device.</p>

<form action='/request/access/' method='post'>
  <fieldset>
    <legend>So, who's work should be associated with what is about to happen? ( choose wisely )</legend>
    <input type="radio" name="responsible_party" value="Richard" id="rp1" checked>
    <label for="rp1">Richard</label>
    <input type="radio" name="responsible_party" value="Michele" id="rp2">
    <label for="rp2">Michele</label>
    <input type="radio" name="responsible_party" value="Cynthia" id="rp3">
    <label for="rp3">Cynthia</label>
    <input type="radio" name="responsible_party" value="Nathan" id="rp4">
    <label for="rp4">Nathan</label>
    <input type="radio" name="responsible_party" value="Grandma" id="rp5">
    <label for="rp5">Grandma</label>
  </fieldset>
  <fieldset>
    <input type='submit' value="Request Access">
  </fieldset>
</form>



<ol>
  <li>hit command+spacebar on your keyboard, let go, and begin typing <strong>t e r m</strong>, pressing enter as soon as <em>terminal</em> pops up</li>
  <li>make sure you can see both this screen, and the terminal window</li>
  <li>select your name from the list below ( if you don't see your name, re-read the warning above )</li>
  <li>click on the Request Access button</li>
</ol>
